.container{
display:grid;
grid-template-columns:repeat(1, 1fr);
grid-template-rows:200px 100px 100px 100px 100px;
grid-gap:0px;
}

header{
  grid-column: 1/-1;
  grid-row: 1/2;
}

nav{
  grid-column: 1/-1;
  grid-row: 2/3;
}
